## Final Project

In [4]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr

In [5]:
l1=['PFE','LULU']

In [6]:
df1 = pdr.get_data_yahoo(l1, start='2015-10-01',end='2021-10-31')['Adj Close']
df1

Symbols           PFE        LULU
Date
2015-10-01  23.912664   50.279999
2015-10-02  24.843943   51.119999
2015-10-05  25.144354   51.270000
2015-10-06  24.626143   51.740002
2015-10-07  25.001656   54.000000
...               ...         ...
2021-10-25  42.774532  427.940002
2021-10-26  43.180965  432.730011
2021-10-27  42.596100  433.700012
2021-10-28  42.804272  443.459991
2021-10-29  43.359402  466.010010

[1532 rows x 2 columns]

In [7]:
df2=np.log(df1/df1.shift(1))
df2

Symbols          PFE      LULU
Date
2015-10-01       NaN       NaN
2015-10-02  0.038206  0.016568
2015-10-05  0.012019  0.002930
2015-10-06 -0.020825  0.009125
2015-10-07  0.015133  0.042753
...              ...       ...
2021-10-25 -0.000232  0.014618
2021-10-26  0.009457  0.011131
2021-10-27 -0.013637  0.002239
2021-10-28  0.004875  0.022255
2021-10-29  0.012886  0.049600

[1532 rows x 2 columns]

In [8]:
#covariance matrix, annualized
cov=df2.cov()
cov_ann=df2.cov()*250
cov_ann

Symbols       PFE      LULU
Symbols
PFE      0.048023  0.017374
LULU     0.017374  0.149983

In [9]:
#beta
beta = cov.iloc[0,1]/cov.iloc[1,1]
beta

0.115837483860441

In [10]:
#CAPM
#10 year annualized government bond
rf=0.025
mkt_premium=0.05
exp_return=rf+mkt_premium*beta
exp_return

0.030791874193022054

In [11]:
def capm(beta):
    exp_return=0.025+0.05*beta
    return round(exp_return,4)

In [12]:
capm(beta)

0.0308

In [16]:
#mean
a1 = np.array([0.5,0.5])
df2.mean()

Symbols
PFE     0.000389
LULU    0.001454
dtype: float64

In [17]:
#portfolio return, annualized
np.dot(df2.mean(),a1)*250

0.2303817033748383

In [18]:
#risk and return
def return_risk_array(a1):
    df=pd.DataFrame(data={'return':np.zeros(1),'std':np.zeros(1)})
    df['return']=np.dot(df2.mean(),a1)*250
    df['std']=np.dot(a1.T, np.dot(df2.cov()*250, a1))**0.5
    return df

In [19]:
return_risk_array(a1)

     return       std
0  0.230382  0.241222